// Código de Nav acá
.header {
    width: 100%;
    background-color: @wild-sand;
    color: @river-bend;
    border: 1px solid @sea-shell;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5rem;
    padding: 0.8rem;   
    
    h1 {
        animation-name: fade-left; 
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 1.5s;
        animation-delay: 0;
    }

    @media(max-width: @mobile){
    }

    li {
        display: inline-block;
        font-size: 1.5rem;  
        font-weight: 600; 
        margin: 10px; 

        a{
            text-decoration: none;
            color: @river-bend;
        }
    }
}
